<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base</title>
     <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/main.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    body{
	{#width:150px;#}
	{#height: 80px;#}
	background-image:url("../../static/images/back.jpg");
	background-attachment:fixed;
	background-repeat: no-repeat;
}
    .spacer {
    padding-top: 90px;
    padding-bottom: 40px
}
.spacer_s {
    padding-top: 30px;
    padding-bottom: 10px
}
.form-horizontal{
    display:block;
    width:50%;
    margin:0 auto;
}
.p1 {
  font-family: "Times New Roman", Times, serif;
}
    </style>
</head>
<body style="">

{#define navigation bar#}
<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
	<div class="navbar-header">
		<a class="navbar-brand" href="search" class="p1" style="font-family: 'PingFang SC'">Paper Network</a>
	</div>
	<div>
		<ul class="nav navbar-nav">
{#			<li ><a href="demo" class="p1">Graph Demo</a></li>#}
{#			<li><a href="{% url 'hellosite:search' %}" class="p1">Search</a></li>#}
		</ul>
	</div>
	</div>
</nav>
{% block content %}

{% endblock content %}
    </body>
</html>