<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title style="font-family: 'PingFang SC'">Papers Network</title>
    <style>
        .check_box{
            left:50%;
        }
        .label_check{
            font-family: "Helvetica Neue";
            font-size: 15px;
        }
    </style>
</head>
<body>
{% extends "begin/base.html" %}

{% block content %}
    <header class="text-center text-white masthead">
        <div class="container ">
            <div class="spacer"></div>
            <div class="row">
                <div>
                    <h1 class="p1">Just search what you want!</h1>
                </div>

                <div class="spacer_s"></div>
                <div class="form-horizontal input-append">
                    <div class="col-lg-6">
                        <div class="input-group input-group-lg">
                            <input type="text" style="width: 520px" class="form-control p1" size="80" id="search_content"
                                   placeholder="For Example: Knowledge Graph">
                            <span class="input-group-btn">
                        <button class="btn btn-success p1" type="submit" onclick="search()">Go!</button>
                            </span>
                        </div>
                        <br>
                        <div class="form-check col-lg-12 check_box">
                        <input class="form-check-input"    type="radio" name="flexRadioDefault" id="default">
                        <label class="form-check-label label_check"  for="default">Default</label>
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        <input class="form-check-input "  type="radio" name="flexRadioDefault" id="advanced">
                        <label class="form-check-label label_check"  for="advanced">Advanced</label>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </header>
    <script>
        function search() {
            let search_content = document.getElementById("search_content").value;
            {#console.log(localStorage.getItem("result"));#}
            {#let default_box_value=document.getElementById("default").value;#}
            {#let advanced_box_value=document.getElementById("advanced").value;#}
            let type;
            if(document.getElementById("default").checked)
                type=0;
            else
                type=1;
            document.location.href = "display?wd=" + search_content+"&start=0"+"&type="+type;
        }
    </script>
{% endblock content %}
</body>
</html>